#firstdiv{
    width: 100vw;
    height: 50vh;
    text-align: center;
    background-image: url('contact-header.jpg');
    background-size: cover;
}
#firstdiv h1{
    color: white;
    font-size:60px;
    padding-right: 440px;
    padding-top: 120px;

}
#seconddivforcontactus{
    width: 100vw;
    height: 100vh;
    /* background-color: bisque; */
}
#contactus1{
  display: flex;
  column-gap: 40px;
   width: 100vw;
   height: 100vh;
   /* background-color: aqua; */
}
#contactus1 iframe{
   width: 40vw;
   height: 70vh;
   margin-left: 30px;
   margin-top: 40px;
}
#aftermap{
   margin-top: 30px;
   /* background-color: blue; */
   width: 50vw;
   height: 80vh;
}





